body{
	margin:0;
}

ul{
	list-style: none;
}

.nav-container{
	display:flex;
	flex-direction: row;
	width: 100%;
	margin:0;
	padding: 0;
	background-color: gray;
	list-stule-type: none;
}

.nav-item{
	padding:15px;
	cursor: pointer;
}

.nav-item-1{
	padding:15px;
	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
	color: white;
}

.nav-item-1 a{
	text-decoration: none;
	color: white;
}

#menu {
	float: left;
	list-style-type: none;
	margin: 0 0 1em;
	padding: 8px 0 0 10px;
	white-space: nowrap;
	width: 100%;
	}


#menu li.nav-item-1{float: right;}



.table-head{
	text-align: center;
	background-color: gray;
}

